body{
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
}

header{
    width: 100%;

    margin: 0;
    padding: 0;
}

header h1{
    background: darkred;
    color: white;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 3rem;

    margin: 0;
    padding: 2rem;
}

main{
    display: grid;
    grid-template-areas: 
    "back content forward";
    grid-template-columns: 1fr 4fr 1fr;

    background: red;

    width: 75%;
    margin: 2rem auto;
    padding: 2rem;
}

.page-button{
    width: 4rem;
    height: 4rem;
}

.page-back{
    grid-area: back;

    margin: auto 0 auto auto;
}

.page-forward{
    grid-area: forward;


    margin: auto auto auto 0;
}

#content{
    grid-area: content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    background: lightgray;
    border-style: solid;
    border-color: darkred;
    border-width: 2rem;

    width: 75rem;

    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

.poke-display{
    background: url(../images/dexScreen.jpg);
    background-position: center;

    display: grid;
    grid-template-areas: 
    "name name name name"
    "sprite sprite stats stats"
    "sprite sprite types types"
    "sprite sprite abilities abilities";
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr minmax(2fr, 60rem);

    width: 100%;
    
}

.poke-name{
    grid-area: name;

    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;

    height: 100%;
    width: 100%;
}

.poke-sprite{
    grid-area: sprite;

    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-left: auto;

    border-style: solid;
    border-color: red;
    border-width: .5rem .5rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.poke-sprite img{
    width: 20rem;
    align-self: center;
}

.poke-sprite p{
    align-self: flex-start;
    font-size: 1.75rem;
    margin: 0;
    padding: .25rem;

    background: red;
    color: lightpink;
}

.poke-stats{
    grid-area: stats;
    width: 100%;
    height: 100%;
    margin: auto;

    border-top-style: solid;
    border-top-color: red;
    border-top-width: .5rem;
}

.poke-stats p{
    font-size: 1.75rem;
    margin: 1rem;
}

.poke-abilities{
    grid-area: abilities;

    height: 10rem;

    border-top-style: solid;
    border-top-color: red;
    border-top-width: .5rem;

    overflow-y: scroll;
    overflow-x: hidden;
}

.poke-abilities p{
    margin-left: 2rem;
}

.poke-types{
    grid-area: types;

    width: 95%;
    height: 95%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
    grid-gap: 4rem;

    text-align: center;

    margin: auto;
}

/* Types */

.poke-types .water{
    background: slateblue;
}

.poke-types .fire{
    background: orange;
}

.poke-types .grass{
    background: lightgreen;
}

.poke-types .normal{
    background: lightgray;
}

.poke-types .poison{
    background: purple;
}

.poke-types .flying{
    background: skyblue;
}

.poke-types .bug{
    background: green;
}

.poke-types .electric{
    background: yellow;
}

.poke-types .ground{
    background: goldenrod;
}

.poke-types .fairy{
    background: pink;
}

.poke-types .psychic{
    background: violet;
}

.poke-types .steel{
    background: grey;
}

.poke-types .dark{
    background: darkslategrey;
}

.poke-types .ghost{
    background: darkviolet;
}

.poke-types .fighting{
    background: darkorange;
}

.poke-types .ice{
    background: cyan;
}

.poke-types .dragon{
    background: orangered;
}

/* Types */

.poke-links{
    width: 100%;
    height: 20rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 100px);

    overflow-y: scroll;
    overflow-x: hidden;
}

.poke-link{
    color: darkslateblue;
    text-align: center;
    padding: 2rem;

    min-height: 2rem;
}

.poke-link:hover{
    color: slateblue;
    cursor: pointer;
}

.filters{
    width: 100%;
    background: red;
    border-top-style: solid;
    border-top-color: darkred;
    border-top-width: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filters select{
    background: rgb(180, 0, 0);
    color: white;
    border: none;
    width: 10rem;
}

.filters option{
    background: rgb(180, 0, 0);
    color: white;
}